<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <img src="../assets/Images/youtube.png" width="100px" alt="" style="margin: -25px;">
    <h1>Youtube</h1>

    <div class="container">
        <div class="searchInputWrapper">
            <form [formGroup]="searchForm">
                <input class="searchInput" type="text" placeholder='Search' formControlName="search"
                    (input)="getText($event)" />
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="searchInputIcon bi bi-search" viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
            </form>
        </div>
    </div>

    <div class="toggle-btn">
        <div class="user_info">
            <h1> Welcome, {{username}}</h1>
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                class="bi bi-box-arrow-right" viewBox="0 0 16 16" matTooltip="Sign Out" (click)="signOut()">
                <path fill-rule="evenodd"
                    d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                <path fill-rule="evenodd"
                    d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
            </svg>
        </div>
        <input type="checkbox" class="checkbox" id="checkbox" autocomplete="on">
        <label for="checkbox" class="label">
            <i class="fa fa-moon-o" aria-hidden="true"></i>
            <i class="fa fa-sun-o" aria-hidden="true"></i>
            <div class='ball'></div>
        </label>
    </div>
</mat-toolbar>