<app-header (text)="getSearchText($event)"></app-header>

<div style="margin: 20px; display: flex; justify-content: end;">
    <button mat-mini-fab color="warn" matTooltip="Add more channels" (click)="openDialog(0)">
        <mat-icon>add</mat-icon>
    </button>
</div>

<div class="cards">
    <div *ngFor="let channel of list;">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                    <img [src]="channel.img[0] || '../assets/Images/youtube.png'" alt="" width="50px">
                </div>
                <mat-card-title>{{channel?.name ? channel?.name : '-'}}</mat-card-title>
                <mat-card-subtitle>
                    <div style="display: flex; flex-direction: row;">
                        ({{channel?.type ? channel?.type : '-'}})

                    </div>
                </mat-card-subtitle>
                <mat-card-actions>
                    <div style="cursor: pointer; margin-top: -25px;">
                        <a [href]="channel.channel_link">
                            <img src="../assets/Images/youtube.png" width="100px" alt="">
                        </a>
                    </div>
                </mat-card-actions>
            </mat-card-header>
            <hr class="style-two">
            <!-- <img mat-card-image [src]="channel.img[0]"> -->
            <mat-card-content>
                <div style="display: flex; justify-content: space-between; width: 100%;">
                    <p style="width: 80%;">{{channel?.description ? channel?.description : '-'}}</p>
                    <div style="width: 20%; margin-top: auto;">
                        <mat-icon color="primary" style="font-size: 20px; cursor: pointer;"
                            (click)="openDialog(channel._id)" matTooltip="Edit channel">edit</mat-icon>
                        <mat-icon color="warn" style="font-size: 20px; cursor: pointer;"
                            (click)="delete(channel._id)" matTooltip="Delete channel">delete</mat-icon>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>