<div class="content">
    <div class="flex-div">
        <div class="name-content">
            <div style="display: flex; align-items: center; margin-bottom: 15px;">
                <img src="../assets/Images/youtube.png" width="150px" alt="" style="margin: -30px;">
                <h1 class="logo">
                    Youtube</h1>
            </div>
            <p>Create your own playlist and share them with world.</p>
        </div>
        <form [formGroup]="loginForm">
            <input type="text" placeholder="Name" formControlName="name" />
            <input type="password" placeholder="Password" formControlName="password">
            <button class="login" (click)="login()">Log In</button>
            <a href="#">Forgot Password ?</a>
            <hr>
            <button class="create-account" [routerLink]="['/register']">Create New Account</button>
        </form>
    </div>
</div>